@media screen and (max-width: 475px) {
    .app {
        margin: 0;
        & .app__header {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .currency {
        overflow: hidden !important;

        & .currency__top {
            & .currency__code {
                width: 100%;

                &.bg-dark {
                    &::before {
                        right: -11px !important;
                        top: -5px !important;
                        width: 80px !important;
                        height: 80px !important;
                    }
                }
            }
        }
        & .currency__middle {
            height: 100% !important;

            & .slide {
                // font-size: 10rem !important;

                &.left {
                    left: -15px;
                }

                &.right {
                    right: -5%;
                }
            }
        }
        & .currency__amount {
            height: 160vh;
        }
    }

    .setting {
        & .setting__header {
            & .setting__title {
                font-size: 2rem !important;
            }

            & a {
                font-size: 1.7rem;
            }
        }
        & .setting__params {
            height: 100vh;
            & .setting__param h3 {
                font-size: 1.7rem;
                color: var(--text-color);
                font-weight: 200;
            }
            & .time {
                font-size: 2rem;
            }
        }
    }

    .chooseCurrencyLeft__middle,
    .chooseCurrencyRight__middle {
        height: 100vh !important;
    }
}

@media screen and (max-width: 320px) {
    .currency {
        & .currency__top {
            & .currency__code {
                & a > h2 {
                    padding: 10px 0px;
                }
                &.bg-dark {
                    &::before {
                        right: -10px !important;
                        top: 0px !important;
                        width: 60px !important;
                        height: 60px !important;
                    }
                    & a > h2 {
                        padding-right: 30px;
                    }
                }

                &.bg-gray {
                    background: var(--bg-color-gray);

                    & a > h2 {
                        padding-left: 30px;
                    }
                }
                & .currency__setting {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
